DATABASE_URL=your database URL
SECRET_KEY=your secret
MAX_SESSION_AGE_IN_SECONDS=user session life time in seconds
ALGORITHM= encryption algorithm
FE_URL= front end URL list seperated by ,
R2_ACCESS_KEY_ID=your_access_key_id_here
R2_SECRET_ACCESS_KEY=your_secret_access_key_here
R2_BUCKET_NAME=mill-receipts
R2_ENDPOINT=https://<YOUR_ACCOUNT_ID>.r2.cloudflarestorage.com