DATABASE_URL=your database URL
AI_AGENT_DATABASE_URL=your AI agent database URL with only SELECT access
SECRET_KEY=your secret
MAX_SESSION_AGE_IN_SECONDS=user session life time in seconds
ALGORITHM= encryption algorithm
FE_URL= front end URL list seperated by
BE_PAGE_SIZE=backend pagination size
R2_ACCESS_KEY_ID=your_access_key_id_here
R2_SECRET_ACCESS_KEY=your_secret_access_key_here
R2_BUCKET_NAME=mill-receipts
R2_ENDPOINT=https://<YOUR_ACCOUNT_ID>.r2.cloudflarestorage.com
OPENAI_API_KEY=your_openai_api_key_here